<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Give Me A Song!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <div class="header"></div>
    <h1 style="font-family:helvetica">Tired of your current playlist?</h1>

    <form action="/" method="POST">
      <input placeholder="Paste a link to your favorite Spotify song here" type="text" id="user_input" name="user_input" required>
      <br><button type="submit">Submit</button>
    </form>

    <br>
    <!-- <p>Here are some songs we think you would like and some new things to try out:</p> -->
    <p>{% for line in output_lines %}
        <p>{{ line }}</p>
    {% endfor %}</p>

  </body>
</html>
